.container{
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
@media (min-width: 1021px){
  .swiper-container:not(.mainv-swiper){
    display: none;
  }

  #hamburger-menu{
    display: none;
  }
}


/* ロード */
.is-hide {
  display: none;
}
/* ローディング画面をフェードアウト */
.fadeout-bg {
  transition-property: opacity;
  transition-delay: .9s;
  transition-duration: .8s;
  opacity: 0;
  pointer-events: none;
}
/* ローダーをフェードアウト */
.fadeout-loader {
  transition-property: opacity;
  transition-delay: .9s;
  transition-duration: .3s;
  opacity: 0;
  pointer-events: none;
}
/* ローディング画面 */
#loader-bg {
  background: #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader {
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: fixed;
  top: 50%;
  width: 120px;
}
#loader p {
  color: #454545;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
}
#loader p img {
  display: inline-block;
}

/* ボタン */

.btn{
  display: block;
  width: 260px;
  color: #000;
  border: 1px solid #d9d9d9;
  padding: 16px 0;
  margin: 0 auto 100px;
  background-color: #ffffff;
  transition: all  0.5s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: #ffffff !important;
}

.btn p{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 14px;
}

.btn2{
  display: block;
  width: 188px;
  color: #000;
  border: 1px solid #d9d9d9;
  padding: 12px 0;
  margin: 0 auto 100px;
  background-color: #ffffff;
  transition: all  0.5s ease;
  text-decoration: none;
}

.btn2:hover {
  background-color: #000;
  color: #ffffff !important;
}

.btn2 p{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 14px;
}

.btn2 a{
  text-decoration: none;
  color: #000;
}

/* ヘッダーロゴ */
header{
  width: 100%;
  margin: 30px 0;
}

.header-logo{
  width: 100%;
  text-align: center;
}

/* ナビゲーションバー */
.nav-bar{
  padding: 22px 0;
}

.nav-bar a{
  font-family: "Times New Roman";
  margin-right: 80px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.nav-bar__list{
  width: 100%;
  text-align: center;
  padding-left: 100px;
}

.nav-bar li{
  display: inline-block;
}

/* メインヴィジュアル */
.mainv{
  width: 100vw;
}

/* メインメッセージ */
.main-message{
  width: 100%;
  margin: 74px 0 114px 0;
}

.main-message__sentense{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  width: 720px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}

/* タイトル */
.title{
  font-size: 26px;
  font-family: "Times New Roman";
  width: 720px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9 ;
}

/* コレクション */
.main-colection{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 400px 227px;
  margin-left: 270px;
  margin-top: 32px;
}

.main-collection__item1{
  grid-column: 1 ;
  grid-row: 1 / 4;
}

.main-collection__item2{
  grid-column: 2 ;
  grid-row: 2 ;
}

.main-collection__item3{
  grid-column: 3;
  grid-row: 2;

}

.main-collection__item4{
  grid-column: 2 ;
  grid-row: 3 ;

}

.main-collection__item5{
  grid-column: 3;
  grid-row: 3;

}

.main-colection__footer{
  width: 100%;
  margin-bottom: 40px;
}

.main-colection__footer--list{
  margin: 0 auto;
  width: 60%;
}

.main-colection__footer--list-item{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 200px);
}

/* アバウトアス */
.aboutus{
  text-align: center;
  margin-bottom: 30px;
}

.aboutus__title{
  font-family: "Times New Roman";
  font-size: 26px;
  margin: 0 auto 20px;
  text-align: center;
}

.aboutus__message{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  width: 720px;
  margin: 0 auto 20px;
}

.bottom-content{
  width: 100%;
  text-align: center;
  margin-bottom: 110px;
}

.bottom-content__list{
  display: inline-block;
  margin: 0 35px;
  width: 430px;
}

.bottom-content__list--title{
  font-family: "Times New Roman";
  margin: 20px 0;
  font-size: 26px;
}

.bottom-content__list--message{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

/* フッター */
footer{
  border-top: 1px solid #d9d9d9;
}

.footer-icon{
  margin: 40px 0 48px;
  padding-left: 50px;
}

.footer-icon__list{
  display: inline-block;
  margin-right: 40px;
}

#top-nav{
  text-align: right;
  margin-right: 50px;
  cursor: pointer;
}

.company{
  padding-left: 50px;
}

.company__content{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  display: inline-block;
  font-size: 12px;
  margin-right: 40px;
  
}

.company__content a{
  text-decoration: none;
  color: #000;
}

.company-guide{
  margin: 24px 0 56px 0;
}

.copylight{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 12px;
  margin-bottom: 40px;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}
 
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
 
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
 
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
 
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
 
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

/* タブレット */
@media (max-width: 1020px) and (min-width: 751px){

  .swiper-container{
    display: none;
  }

  #hamburger-menu{
    display: none;
  }

  .nav-bar__list{
    padding-left: 60px;
  }

  .nav-bar a{
    margin-right: 60px;
  }

  .main-colection {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: 300px 227px;
  margin-top: 32px;
  margin: 0 auto;
  }

  .main-collection__item1 img{
    padding-right: 60px;
  }
  .main-colection__footer--list {
    width: 100%;
}

.main-colection__footer--list-item{
  grid-template-columns: repeat(4, 160px);
  margin: 0 auto;
  width: 80%;
  }

.main-colection__footer--list-item img{
  width: 170px !important;
  }

.aboutus img{
  width: 100% !important;
  }
}

/* スマホ */
@media screen and (max-width: 750px) {
  header{
    margin: 20px 0;
  }

  .mainv img{
    width: 750px !important;
  }

  .main-message{
    width: 100%;
    margin: 100px 0 176px 0;
  }

  .main-message__sentense{
    width: 658px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 45px;
  }

  .title{
    font-size: 45px;
    width: 658px;
    padding-bottom: 30px;
  }

  .main-colection{
    display: none;
  }

  .main-colection__footer{
    display: none;
  }

  .main-colection__footer{
    display: none;
  }

  .nav-bar{
    display: none;
  }

  /* swiper */
  .swiper-container{
    margin-top: 64px;
  }

  .swiper-slide{
    margin-bottom: 30px;
  }

  .swiper-pagination{
    margin-bottom: 40px;
  }

  /* ボタン */
  .btn{
    padding: 35px 0;
    margin: 0 auto 176px;
    width: 70%;
  }

  .btn p{
    font-size: 22px;
  }

  .btn2{
    width: 70%;
    padding: 35px 0;
    margin: 0 auto 176px;
  }

  .btn2 p{
    font-size: 22px;
  }

  #btn2{
    width: 313px;
    padding: 30px;
    margin: 16px 0 244px 0;
  }
  /* アバウトアス */
  .aboutus img{
    width: 658px !important;
  }

  .aboutus__title{
    margin: 64px 0;
  }

  .aboutus__message{
    font-size: 22px;
  }
  /* フッター */

  .bottom-content__list{
    width: 313px;
    margin-right: 10px;
  }
  .bottom-content__list img{
    width: 313px !important;
  }

  .bottom-content__list--title{
    margin: 32px 0;
  }

  .bottom-content__list--message{
    font-size: 22px;
  }

  .footer-icon{
    margin: 70px 0 80px;
    padding-left: 80px;
  }

  .footer-icon__list{
    margin-right: 76px;
  }

  .company{
    width:100%;
    padding: 0;
  }

  .company__content{
    display: block;
    margin:  0 auto 30px;
  }

  .company__content a{
    font-size: 22px;
  }

  .company-guide{
    margin-bottom: 98px;
  }

  .copylight{
    margin-bottom: 60px;
    font-size: 20px;
  }
  
  /* ハンバーガーメニュー */
  #hamburger-menu #navi {
    transition: all .6s;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    background-color: #fff;
    position: fixed;
    left: -820px;
  }
   
  #hamburger-menu .nav_btn {
    width: 50px;
    z-index: 300;
    top: 7px;
    margin: 50px;
    cursor: pointer;
    position: absolute;
  }
   
  .hamburger_line {
    transition: all .6s;
    width: 34px;
    height: 2px;
    left: 5px;
    background-color: #000;
    position: absolute;
  }
   
  .hamburger_line1 { top: 10px; }
  .hamburger_line2 { top: 21px; }
  .hamburger_line3 { top: 32px; }
    
  /* 表示された時用のCSS */
  .nav_open #hamburger-menu #navi { left: 0; }
   
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
    background-color: #fff;
    position: fixed;
    margin: 50px;
  }
   
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
   
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
    background-color: #fff;
    position: fixed;
    margin: 50px;
  }
  
  #hamburger-menu #navi li a {
    font-weight: 500;
    color: #000;
    display: block;
  }
  
  #hamburger-menu #navi li {
    font-family: "Times New Roman";
    padding: 20px;
    font-size: 40px;
  }
  
  .black-bar{
    background-color: #000;
    height: 150px;
  }
}