/* 隙間消し */
* {
  margin: 0px;
  padding: 0px;
}
  
.container{
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

/* ボタン */

.btn{
  display: block;
  width: 260px;
  color: #000;
  border: 1px solid #d9d9d9;
  padding: 16px 0;
  margin: 0 auto 100px;
  background-color: #ffffff;
  transition: all  0.5s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: #ffffff !important;
}

.btn p{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 14px;
}

.btn2{
  display: block;
  width: 188px;
  color: #000;
  border: 1px solid #d9d9d9;
  padding: 12px 0;
  margin: 0 auto 100px;
  background-color: #ffffff;
  transition: all  0.5s ease;
  text-decoration: none;
}

.btn2:hover {
  background-color: #000;
  color: #ffffff !important;
}

.btn2 p{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  text-align: center;
  font-size: 14px;
}

.btn2 a{
  text-decoration: none;
  color: #000;
}

/* ヘッダーロゴ */
header{
  width: 100%;
  margin: 30px 0;
}

.header-logo{
  width: 100%;
  text-align: center;
}

/* ナビゲーションバー */
.nav-bar{
  padding: 22px 0;
}

.nav-bar a{
  font-family: "Times New Roman";
  margin-right: 80px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.nav-bar__list{
  width: 100%;
  text-align: center;
  padding-left: 100px;
}

/* メインヴィジュアル */
.mainv{
  width: 100vw;
}

/* メインメッセージ */
.main-message{
  width: 100%;
  margin: 74px 0 114px 0;
}

.main-message__sentense{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  width: 720px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}

/* タイトル */
.title{
  font-size: 26px;
  font-family: "Times New Roman";
  width: 720px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9 ;
}

/* コレクション */
.main-colection{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 400px 227px;
  margin-left: 270px;
  margin-top: 32px;
}

.main-collection__item1{
  grid-column: 1 ;
  grid-row: 1 / 4;
}

.main-collection__item2{
  grid-column: 2 ;
  grid-row: 2 ;
}

.main-collection__item3{
  grid-column: 3;
  grid-row: 2;

}

.main-collection__item4{
  grid-column: 2 ;
  grid-row: 3 ;

}

.main-collection__item5{
  grid-column: 3;
  grid-row: 3;

}

.main-colection__footer{
  width: 100%;
  margin-bottom: 40px;
}

.main-colection__footer--list{
  margin: 0 auto;
  width: 60%;
}

.main-colection__footer--list-item{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 200px);
}

/* アバウトアス */
.aboutus{
  text-align: center;
  margin-bottom: 30px;
}

.aboutus__title{
  font-family: "Times New Roman";
  font-size: 26px;
  margin: 0 auto 20px;
  text-align: center;
}

.aboutus__message{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  width: 720px;
  margin: 0 auto 20px;
}

.bottom-content{
  width: 100%;
  text-align: center;
  margin-bottom: 110px;
}

.bottom-content__list{
  display: inline-block;
  margin: 0 35px;
  width: 430px;
}

.bottom-content__list--title{
  font-family: "Times New Roman";
  margin: 20px 0;
  font-size: 26px;
}

.bottom-content__list--message{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

/* フッター */
footer{
  border-top: 1px solid #d9d9d9;
}

.footer-icon{
  margin: 40px 0 48px;
  padding-left: 50px;
}

.footer-icon__list{
  display: inline-block;
  margin-right: 40px;
}

#top-nav{
  text-align: right;
  margin-right: 50px;
  cursor: pointer;
}

.company{
  padding-left: 50px;
}

.company__content{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  display: inline-block;
  font-size: 12px;
  margin-right: 40px;
  
}

.company__content a{
  text-decoration: none;
  color: #000;
}

.company-guide{
  margin: 24px 0 56px 0;
}

.copylight{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 12px;
  margin-bottom: 40px;
}

/* タブレット */
@media (max-width: 1020px) and (min-width: 768px){
  .nav-bar__list{
    padding-left: 60px;
  }

  .nav-bar a{
    margin-right: 60px;
  }

  .main-colection {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: 300px 227px;
  margin-top: 32px;
  margin: 0 auto;
  }

  .main-collection__item1 img{
    padding-right: 60px;
  }
  .main-colection__footer--list {
    width: 100%;
}

.main-colection__footer--list-item{
  grid-template-columns: repeat(4, 170px);
  margin: 0 auto;
  width: 80%;
  }

.main-colection__footer--list-item img{
  width: 170px !important;
  }

.aboutus img{
  width: 100% !important;
  }
}

/* スマホ */
@media screen and (max-width: 480px)　{ 
  
}